.categories h1 {
  font-weight: 200px;
  font-family: "Inter", sans-serif;
}
.categories button {
  background-color: rgb(174, 236, 236);
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
  font-family: "Inter", sans-serif;
}

.img {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  gap: 70px;
}

.menyu {
  margin-top: 70px;
  text-align: center;
  justify-content: center;
  font-weight: 200px;
  font-family: "Inter", sans-serif;
  justify-content: center;
}

.hero {
  width: 400;
  height: 434px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.hero img {
  border-radius: 20px;
}
.hero .vector {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.hero .cheseburger {
  width: 400px;
  height: 434px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 20px;
  margin-top: 20px;
  font-size: 10px;
}
.hero .Ginger {
  width: 400px;
  height: 434px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 20px;
  margin-top: 40px;
  font-size: 10px;
}
.hero .Honey {
  width: 400px;
  height: 434px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 20px;
  margin-top: 40px;
  font-size: 10px;
}
.hero .Mayonnaise {
  width: 400px;
  height: 434px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 20px;
  margin-top: 40px;
  font-size: 10px;
}
.hero .Cheese {
  width: 400px;
  height: 434px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 20px;
  margin-top: 40px;
  font-size: 10px;
}
.hero .Ads {
  margin-top: 40px;
}
.hero .Blueberry {
  width: 400px;
  height: 434px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 20px;
  margin-top: 40px;
  font-size: 10px;
}
.hero .Rise {
  width: 400px;
  height: 434px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 20px;
  margin-top: 40px;
  font-size: 10px;
}
.hero .Pasta {
  width: 400px;
  height: 434px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 20px;
  margin-top: 40px;
  font-size: 10px;
}

.black {
  color: white;
  background-color: black;
  padding: 22px 21px 23px 22px;
  border-radius: 12px;
}

.everyone {
  margin-top: 1150px;
  display: flex;
  align-items: center;
  margin-left: 100px;
  gap: 60px;
}

.everyone h1 {
  margin-top: 20px;
  font-size: 50px;
}

.everyone p {
  margin-top: 10px;
  font-size: 20px;
}

.check {
  margin-top: 300px;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

.outtt img {
  margin-top: 100px;
  margin-left: 100px;
  gap: 50px;
}

.buttonn button {
  margin-top: 250px;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  padding: 22px 23px 22px 23px;
  border-radius: 15px;
}

.you {
  display: flex;
  text-align: center;
}

.simplee {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.simplee img {
  border-radius: 20px;
}
.simplee .vectorr {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-right: 110px;
}
.simplee .mix {
  width: 400px;
  height: 400px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 20px;
  margin-top: 40px;
  font-size: 10px;
}
.footer {
  width: 1248px;
  height: 639px;
  background: #E7F9FD;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-left: 400px;
  margin-top: 190px;
}
.footer .divv {
  text-align: center;
}
.footer h1 {
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  width: 400px;
  height: 60px;
  font-weight: 500px;
  border-radius: 17px;
  border: none;
}

.oo {
  background-color: black;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  color: white;
}

.rasm {
  margin-top: -14px;
  margin-right: 870px;
}

.rasmm {
  margin-top: -243px;
  margin-left: 898px;
  border-radius: 17px;
}

.inputs {
  position: relative;
}
.inputs button {
  position: absolute;
  left: 660px;
  top: 7px;
}

.food {
  margin-top: 200px;
}

.avtech {
  margin-right: -30px;
}

.loremm {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1000px;
}

.dil {
  display: flex;
  justify-content: center;
  gap: 760px;
  margin-top: 160px;
}

.class {
  gap: 40px;
}/*# sourceMappingURL=main.css.map */